* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif; }

@font-face {
  font-family: "inria";
  src: url("../assets/fonts/InriaRegular.ttf"); }

/*para nav*/
@font-face {
  font-family: "tenor";
  src: url("../assets/fonts/TenorSans-Regular.ttf"); }

/*para productos y rutinas*/
.bodyIndex {
  width: 100%;
  background-image: url(../assets/img/fondoindex.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.logoIndex {
  display: flex;
  position: relative;
  width: 30.3125rem;
  top: 10px;
  left: 465px;
  min-height: 6.25rem;
  padding: 1.25rem 3.125rem;
  justify-content: center;
  align-items: center; }

.bodyProductos {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/fondoproductos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.logoPaginas {
  position: relative;
  top: 25px;
  padding: 40px; }

.bodyNosotros {
  width: 100%;
  height: 40vh;
  background-image: url(../assets/img/fondonosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bodyContacto {
  width: 100%;
  background-image: url(../assets/img/fondocontacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.sectionPrincipal h1 {
  position: absolute;
  width: 100%;
  height: 14.8125rem;
  top: 330px;
  font-family: "tenor";
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal; }

.card {
  width: 200px;
  height: 18.75rem;
  background-color: white;
  border-radius: .3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem black;
  margin: 80px;
  top: 400px; }

.cardImg {
  width: 100%;
  height: 60%; }

.imgProduct {
  width: 100%;
  height: 90%; }

.infoProduct h2 {
  font-family: "inria";
  font-weight: 12.5rem;
  font-size: 25px;
  line-height: 40px;
  text-align: center; }

/* Rutinas html */
.rutinaDiaNoche {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 3.125rem; }

.productoSkin {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem; }

.descripcionSkin {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem; }

.rutinaDiaNoche {
  display: grid;
  width: 100%;
  padding: 40px;
  grid-template: repeat(1, 1fr)/repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 230px; }

.dia {
  font-family: "tenor";
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1; }

.dia {
  text-align: center; }

.pasos {
  text-align: start;
  padding: 5px; }

/* rutina noche*/
.noche {
  font-family: "tenor";
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1; }

.noche {
  text-align: center; }

.pasos {
  padding: 5px;
  text-align: start; }

.productoSkin {
  list-style: none; }

.imgRutina {
  width: 100%;
  height: 60vh;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 90px; }

.tituloRutina {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; }
  .tituloRutina h1 {
    font-family: "tenor";
    text-align: center;
    font-size: 30px;
    line-height: 35px; }

.iframe {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 180px; }

.titulo1 {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 40px;
  grid-template: repeat(6, 1fr)/repeat(1, 1fr);
  row-gap: 10px;
  column-gap: 5px;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 5.25rem;
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal; }

.frase {
  font-family: 'inria';
  font-weight: 200;
  font-size: 70px;
  line-height: 10px;
  grid-row-start: 3;
  grid-row-end: 3; }

.descripcion {
  font-family: 'inria';
  font-weight: 200;
  font-size: 70px;
  line-height: 10px;
  grid-row-start: 4;
  grid-row-end: 4; }

.tituloNosotros {
  position: absolute;
  width: 100%;
  height: 14.8125rem;
  top: 330px;
  font-family: "tenor";
  font-weight: 300;
  font-size: 5rem;
  line-height: 5.25rem;
  text-align: center;
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal; }

.nosotrosInfo {
  width: 100%;
  padding: 100px;
  margin-top: 500px; }

.col {
  width: 270px;
  height: 290px;
  margin: 15px; }

.quienSomos {
  color: rgba(0, 0, 0, 0.7); }

.descripcionNosotros {
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  text-align: start; }

.contenedortexto {
  background-color: rgba(217, 217, 217, 0.3); }

.comunidad {
  margin-top: 20px;
  color: rgba(49, 49, 49, 0.684);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  text-align: start; }

.tituloContacto {
  position: absolute;
  width: 100%;
  height: 14.8125rem;
  margin-top: 200px;
  font-family: "tenor";
  font-weight: 300;
  font-size: 5rem;
  line-height: 5.25rem;
  text-align: center;
  color: #1e1e1e; }

.sectionContacto {
  display: grid;
  width: 100%;
  padding: 40px;
  grid-template: repeat(3, 1fr)/repeat(2, 1fr); }

.contacto {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  line-height: 50px; }

.inputGroup {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  line-height: 65px;
  margin-top: 50px; }

.footer {
  position: relative;
  width: 100%;
  background: rgba(113, 114, 116, 0.53);
  min-height: 6.25rem;
  padding: 1.25rem 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0%;
  top: 150px; }
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: wrap;
    margin: .625rem .3125rem; }
    .footer ul li {
      list-style: none; }
      .footer ul li a {
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        font-size: 2rem;
        display: inline-block;
        margin: 0 .625rem;
        transition: 0,5s; }
        .footer ul li a:hover {
          transform: translatey(-0.625rem); }

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: wrap;
  margin: .625rem 0; }

.menuElem {
  list-style: none; }

.menuIcon {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  display: inline-block;
  text-decoration: none;
  margin: .3125rem .625rem;
  opacity: 0.75;
  transition: 0.3s; }

.menuIcons:hover {
  opacity: 1; }

.text {
  color: #0a0a0a;
  font-size: 1.25rem;
  text-align: center; }

.footerProductos {
  position: relative;
  width: 100%;
  background: rgba(113, 114, 116, 0.53);
  min-height: 6.25rem;
  padding: 1.25rem 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0%;
  top: 350px; }
  .footerProductos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: wrap;
    margin: .625rem .3125rem; }
    .footerProductos ul li {
      list-style: none; }
      .footerProductos ul li a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 2rem;
        display: inline-block;
        margin: 0 .625rem;
        transition: 0,5s; }
        .footerProductos ul li a:hover {
          transform: translatey(-0.625rem); }

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 10.6875rem;
  left: 0rem;
  padding-right: 1.75rem;
  font-weight: 700;
  background-color: rgba(113, 114, 116, 0.53);
  z-index: 100; }
  nav .navbar li {
    display: inline-block;
    padding: 0 1.125rem; }
    nav .navbar li a {
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none;
      width: 11.625rem;
      height: 2.875rem;
      left: 22.375rem;
      top: .875rem;
      font-family: 'inria';
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem;
      line-height: 2.9375rem; }
      nav .navbar li a:hover {
        color: aliceblue; }

@media (min-width: 768px) and (max-width: 992px) {
  .logoIndex {
    left: 200px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .descripcion {
    font-weight: 200;
    font-size: 70px;
    line-height: 84px; }
  .frase {
    line-height: 84px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .sectionPrincipal h1 {
    width: 100%;
    top: 500px;
    left: 0%;
    font-size: 60px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .imgRutina {
    width: 100%;
    height: 30vh;
    margin-top: 120px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .nosotrosInfo {
    margin-top: 350px;
    padding: 80px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .tituloNosotros {
    top: 400px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal; } }

@media (min-width: 768px) and (max-width: 992px) {
  .footer {
    top: 100px; }
    .footer ul li a {
      font-size: 25px; }
    .footer .text {
      font-size: 15px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .footerProductos ul li a {
    font-size: 25px; }
  .footerProductos .text {
    font-size: 15px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .logoIndex {
    width: 5px;
    top: 10px;
    left: 70px;
    justify-content: flex-start; } }

@media (min-width: 576px) and (max-width: 768px) {
  .descripcion {
    font-weight: 200;
    font-size: 70px;
    line-height: 84px; }
  .frase {
    line-height: 84px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .sectionPrincipal h1 {
    width: 100%;
    top: 500px;
    left: 0%;
    font-size: 60px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .imgRutina {
    width: 100%;
    height: 30vh;
    margin-top: 120px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .nosotrosInfo {
    margin-top: 350px;
    padding: 80px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .descripcionNosotros {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .comunidad {
    margin-top: 10px;
    font-size: 20px;
    line-height: 40px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .tituloNosotros {
    top: 400px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal; } }

@media (min-width: 576px) and (max-width: 768px) {
  .inputGroup {
    margin-left: 20px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .footer {
    top: 100px; }
    .footer ul li a {
      font-size: 25px; }
    .footer .text {
      font-size: 15px; } }

@media (min-width: 576px) and (max-width: 768px) {
  .footerProductos ul li a {
    font-size: 25px; }
  .footerProductos .text {
    font-size: 15px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .logoIndex {
    width: 5px;
    top: 5px;
    left: -10px;
    padding: 30px;
    justify-content: flex-start; } }

@media (min-width: 320px) and (max-width: 575px) {
  .logoPaginas {
    position: relative;
    top: 25px;
    padding: 10px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .logoPaginas {
    width: 5px;
    top: 25px;
    left: 0px;
    justify-content: flex-start; } }

@media (min-width: 320px) and (max-width: 575px) {
  .navbar {
    flex-direction: column; } }

@media (min-width: 320px) and (max-width: 376px) {
  .frase {
    font-weight: 100;
    font-size: 40px;
    line-height: 60px;
    grid-row-start: 5;
    grid-row-end: 5; } }

@media (min-width: 320px) and (max-width: 376px) {
  .descripcion {
    font-weight: 200;
    font-size: 45px;
    grid-row-start: 6;
    grid-row-end: 6;
    line-height: 60px; } }

@media (min-width: 377px) and (max-width: 465px) {
  .frase {
    font-weight: 100;
    font-size: 40px;
    line-height: 60px;
    grid-row-start: 4;
    grid-row-end: 4; } }

@media (min-width: 377px) and (max-width: 465px) {
  .descripcion {
    font-weight: 200;
    font-size: 45px;
    grid-row-start: 5;
    grid-row-end: 5;
    line-height: 60px; } }

@media (min-width: 466px) and (max-width: 575px) {
  .frase {
    font-weight: 100;
    font-size: 50px;
    line-height: 60px;
    grid-row-start: 3;
    grid-row-end: 3; } }

@media (min-width: 466px) and (max-width: 575px) {
  .descripcion {
    font-weight: 200;
    font-size: 50px;
    grid-row-start: 4;
    grid-row-end: 4;
    line-height: 60px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .sectionPrincipal h1 {
    width: 100%;
    top: 500px;
    left: 0%;
    font-size: 40px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .rutinaDiaNoche {
    margin-top: 300px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .dia {
    font-size: 30px;
    font-weight: 100; } }

@media (min-width: 320px) and (max-width: 575px) {
  .dia {
    row-gap: 5px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .noche {
    font-size: 30px;
    font-weight: 100; } }

@media (min-width: 320px) and (max-width: 575px) {
  .noche {
    row-gap: 2px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .productoSkin {
    font-size: 15px;
    font-weight: 100; } }

@media (min-width: 320px) and (max-width: 575px) {
  .descripcionSkin {
    font-size: 10px;
    font-weight: 100; } }

@media (min-width: 320px) and (max-width: 575px) {
  .imgRutina {
    width: 100%;
    height: 20vh;
    margin-top: 100px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .tituloRutina h1 {
    font-size: 10px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .iframe {
    width: 100%;
    height: 20vh;
    top: 120px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .tituloNosotros {
    font-size: 60px;
    top: 500px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal; } }

@media (min-width: 320px) and (max-width: 575px) {
  .nosotrosInfo {
    padding: 40px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .col {
    width: 100px;
    height: 100px;
    margin-top: 50px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .descripcionNosotros {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .comunidad {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .tituloContacto {
    font-size: 50px;
    margin-top: 300px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .contacto {
    font-size: 8px;
    line-height: 25px;
    grid-row-start: 3;
    margin-top: 20px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .inputGroup {
    font-size: 11px;
    line-height: 30px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    margin-top: 50px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .footer {
    top: 100px; }
    .footer ul li a {
      font-size: 12px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .text {
    font-size: 10px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .footerProductos ul li a {
    font-size: 12px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .text {
    font-size: 10px; } }
