*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'inria serif' ;
}
.bodyIndex{
    width: 100%;
    background-image: url(../assets/img/fondoindex.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.logoIndex {
    position: relative ;
    width: 30.3125rem;
    top: 10px;
    left: 29.3125rem;
    min-height: 6.25rem;
    padding: 1.25rem 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:376px) {
    .logoIndex{ 
        width: 5px;
        top: 10px;
        left: -10px;
        justify-content: flex-start;
    }
}
@media(max-width:768px) {
    .logoIndex{ 
        width: 5px;
        top: 10px;
        left: -10px;
        justify-content: flex-start;
    }
    .footerIndex{
        left: 50%;
        top: 5px
    }
}






/* barra de navegacion */
nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 10.6875rem;
    left: 0rem;
    padding-right: 1.75rem;
    font-weight: 700;
    background-color: rgba(113, 114, 116, 0.53);
    z-index: 100;
}

.navbar li {
    display: inline-block;
    padding: 0 1.125rem;
}
.navbar a{
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    width: 11.625rem;
    height: 2.875rem;
    left: 22.375rem;
    top: .875rem;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.9375rem;
}
@media(max-width:376px) {
    .navbar{
        flex-direction: column;
    }
}



a:hover {
    color: aliceblue;
}
/* mima tu piel frase */
.titulo1{
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 40px;
    grid-template:repeat(6,1fr)/ repeat(1,1fr) ;
    row-gap: 10px;
    column-gap: 5px;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 5.25rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal;
}
.frase{
    grid-row-start: 2;
    grid-row-end:2;
}
.descripcion{ 
    grid-row-start: 3;
    grid-row-end:3 ;
}

@media(max-width:376px) {
    .frase{
        grid-row-start: 4;
        grid-row-end:4;
    }
    
    .descripcion{ 
        grid-row-start: 5;
        grid-row-end:5;
    }
}


.footerIndex{
    position: relative;
    width: 100%;
    background: rgba(113, 114, 116, 0.53);
    min-height: 6.25rem;
    padding: 1.25rem 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0%;
    top: 150px;
}

.footerPaginas{
    position: relative;
    width: 100%;
    background: rgba(113, 114, 116, 0.53);
    min-height: 6.25rem;
    padding: 1.25rem 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0%;
    top: 500px;
}


.socialicons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: .625rem .3125rem;
    flex: wrap;
}
.iconElem {
    list-style: none;
}
.icon{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 2rem;
    display: inline-block;
    margin: 0 .625rem;
    transition: 0,5s;
}
.icon:hover{
    transform: translatey(-0.625rem);
}


.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: .625rem 0;
    flex-wrap: wrap;
}
.menuElem{
    list-style: none;
}
.menuIcon{
    color: rgba(0, 0, 0, 0.5);
    font-size:  1.25rem;
    display: inline-block;
    text-decoration: none;
    margin: .3125rem .625rem;
    opacity: 0.75;
    transition: 0.3s;
}
.menuIcons:hover{
    opacity: 1;
}
.text{
    color: rgb(10, 10, 10);
    font-size: 1.25rem;
    text-align: center;
}

/* Productoshtml */
.bodyProductos{
    width: 100%;
    height: 40vh;
    background-image: url(../assets/img/fondoproductos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.logoPaginas{
    position: relative;
    top: 25px;
    padding: 40px;
}
@media(max-width:376px) {
    .logoPaginas{ 
        width: 5px;
        top: 25px;
        left:0px;
        justify-content: flex-start;
    }
}


.tituloProduct{
    position: absolute;
    width: 60.1875rem;
    height: 14.8125rem;
    left: calc(50% - 60.1875rem/2 - 1.25rem);
    top: 330px;
    font-weight: 300;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.71) 0%, rgba(102, 102, 102, 0.71) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal;
}

@media(max-width:376px) {
    .tituloProduct{ 
        width: 100%;
        top: 500px;
        left: 0%;
        font-size: 60px;
    }
    
}
@media(max-width:768px) {
    .tituloProduct{ 
        width: 100%;
        top: 530px;
        left: 0%;
        font-size: 60px;
    }
}




.row .card{
    width: 200px;
    height: 18.75rem;
    background-color: rgb(255, 255, 255);
    border-radius: .3125rem;
    box-shadow: .3125rem .3125rem .625rem rgba(0,0,0.438);
    margin: 80px;
    top: 400px; 

}
@media(max-width:376px){
    .row .card{
        width: 180px;
        height: 280px;
        margin: 20px;
        top: 500px; 
    }
}
@media(max-width:768px){
    .row .card{
        width: 180px;
        height: 280px;
        margin: 20px;
        top: 500px; 
    }
}

.card .cardImg{
    width: 100%;
    height: 60%;
}
.card .cardImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.infoProduct{
    font-family: 'Inria Serif';
    font-weight: 12.5rem;
    font-size: .75rem;
    line-height: 1.625rem;
    text-align: center;
}
/* Rutinas html */

.rutinaDiaNoche{
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3.125rem;
}
.productoSkin{
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
}

.descripcionSkin{
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
}
.rutinaDiaNoche{
    display: grid;
    width: 100%;
    padding: 40px;
    grid-template:repeat(3,1fr)/ repeat(3,1fr) ;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 230px;

} 
.dia{
    grid-column-start: 1;
    grid-column-end:1 ; 
    grid-row-start: 1;
    grid-row-end:1 ;
}
.dia{
    text-align: center ;
}
.dia .pasos{
    text-align: start;
    padding: 5px;
}

/* rutina noche*/
.noche{
    grid-column-start: 2;
    grid-column-end:2 ; 
    grid-row-start: 1;
    grid-row-end:1 ;
}
.noche{
    text-align: center ;
}
.noche .pasos{
    padding:5px ;
    text-align: start;
}
.productoSkin{
    list-style: none;
}

.imgRutina{
    width: 100%;
    height: 60vh;
    grid-column-start: 3;
    grid-column-end: 3 ;
    grid-row-start: 1;
    grid-row-end:1;
    margin-top: 90px;
}
@media(max-width:376px) {
    .dia{
        font-size: 50px;
        font-weight: 100;
    }
    .dia{
        row-gap: 5px;
    }
    .noche{
        font-size: 50px;
        font-weight: 100;
    }
    .noche{
        row-gap: 5px;
    }
    .productoSkin{
        font-size: 15px;
        font-weight: 100;
    }
    .descripcionSkin{
        font-size: 10px;
        font-weight: 100
    }
}

    @media(max-width:768px) {
        .imgRutina
            {width: 100%;
            height: 30vh}
}
.tituloRutina{
    grid-column-start: 3;
    grid-column-end: 3 ;
    grid-row-start: 1;
    grid-row-end:1;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
.iframe{
    position: relative;
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    top: 300px;
    
}
@media(max-width:376px) {
    .iframe{
        height: auto;
    }
}
@media(max-width:768px) {
    .iframe{
        top: 300px;
    }
}


/* Nosotros html */

.bodyNosotros{
    width: 100%;
    height: 40vh;
    background-image: url(../assets/img/fondonosotros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.tituloNosotros{
    position: absolute;
    width: 60.1875rem;
    height: 14.8125rem;
    left: calc(50% - 60.1875rem/2 - 1.25rem);
    top: 330px;
    font-weight: 300;
    font-size: 5rem;
    line-height: 5.25rem;
    text-align: center;
    background: rgb(206, 206, 206);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: normal;
}

.nosotrosInfo{

    width: 100%;
    height: 100vh;
    padding: 40px;
    grid-template:repeat(6,1fr)/ repeat(3,1fr) ;
    row-gap: 180px;
    column-gap: 10px;
}


.nosotrosInfo .row{
    width: 30%;
    height: 20vh;
    margin: 100px;
    margin-top: 10px;
}
.col{
    width: 270px;
    height: 270px;
    margin: 15px;
}


.quienSomos{
    color: rgba(0, 0, 0, 0.7);
}
.descripcionNosotros{
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    text-align:start;
}
.contenedortexto{
    background-color: rgba(217, 217, 217, 0.3);
}
.comunidad{
    margin-top: 20px;
    color: rgba(49, 49, 49, 0.684);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    text-align:start;
}
/* Contacto html */
.bodyContacto{
    width: 100%;
    background-image: url(../assets/img/fondocontacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.tituloContacto{
    position: absolute;
    width: 60.1875rem;
    height: 14.8125rem;
    left: calc(50% - 60.1875rem/2 - 1.25rem);
    top: 270px;
    font-weight: 300;
    font-size: 5rem;
    line-height: 5.25rem;
    text-align: center;
    color:rgba(30, 30, 30, 1);
}




.sectionContacto{
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 40px;
    grid-template:repeat(4,1fr)/ repeat(2,1fr) ;
    row-gap: 130px;
    column-gap: 10px
}
.contacto{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end:4;
    color: rgba(0, 0, 0, 0.748);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
    text-align:start;
}
.input-group{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end:4;
    color: rgba(0, 0, 0, 0.748);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 95px;
    text-align:center;
    margin-top: 50px;
}

