@font-face {
    font-family: "inria";
    src: url("../assets/fonts/InriaRegular.ttf")
}
/*para nav*/
@font-face {
    font-family: "tenor";
    src:url("../assets/fonts/TenorSans-Regular.ttf");
}
/*para productos y rutinas*/